:root {
    --darkOrange: #D64D00;
    --gray: #495057;
    --background: #F3F5FC;
}

header img {
    margin-top: 2vh;
    margin-left: 3vw;
    width: 8%;
}

* {
    background-color: #F3F5FC;
}

/* menu */
#menu {
    width: 30%;
    margin: 10em auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#menu button {    
    width: 232px;
    height: 70px;
}
#menu button:first-child {
    width: 280px;
    font-size: larger;
    margin: 1em;
}

/* botões */
button {
    width: 232px;
    height: 50px;
    font-size: medium;
    cursor: pointer;
}
button:first-child {
    background-color: var(--darkOrange);
    color: #FFF;
    border: none;
    border-radius: 10px;
    margin-right: 1em;
}
button:last-child {
    background-color: var(--background);
    color: var(--darkOrange);
    border: 1px solid var(--darkOrange);
    border-radius: 10px;
}

/* new-word */
#new-word {
    width: 50%;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
textarea {
    width: 100%;
    height: 250px;
    border: 1px solid #e48650;
    border-radius: 10px;

    margin-bottom: 4em;
}
textarea::placeholder {
    font-size: 20px;
    color: var(--darkOrange);
}
.saveWord {
    width: 30%;
    margin-bottom: 1em;
    background-color: var(--darkOrange);
    color: white;
    border: 1px solid var(--darkOrange);
    border-radius: 10px;
}
.textarea-buttons {
    margin-left: 1em;
}
.warning {
    display: flex;
    margin-bottom: 1em;
}
.warning img {
    width: 2%;
}
.warning p {
    font-size: 12px;
    color: var(--gray);
    padding-left: 5px;
}
.new-word-buttons {
    text-align: center;
}

/* canvas */
.hangman-game {
    text-align: center;
}

/* #hangman {
    width: 1200px;
    height:800px;
} */

/* footer */
footer {
    text-align: center;
    margin-top: 2em;
}
footer p {
    font-size: 15px;
}
footer li {
    display: inline-block;
    margin-top: 0.5em;
}  
footer li img {
    width: 20px;
}

@media (max-width:810px) {
    header img {
        width: 15%;
    }

    #menu {
        width: 50%;
    }

    canvas {
        width: 100%;
        margin-bottom: 5em;
    }
}

@media (max-width:428px) {
    header img {
        width: 25%;
    }

    #menu {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #menu button {
        width: 200px;
        height: 60px;
    }

    .game-buttons button {
        margin: 0.5em auto;
        width: 150px;
        height: 50px;
    }

    footer {
        margin-top: 5em;
    }
}