:root {
    --darkOrange: #D64D00;
    --gray: #495057;
    --background: #F3F5FC;
}

* {
    background-color: var(--background);
}

header img {
    margin-top: 4vh;
    margin-left: 3vw;
    width: 8%;
}

#game {
    /* border: 1px solid gray; */
    width: 60%;
    height: 500px;
    margin: 1em auto;
}

/* menu */

.menu-buttons {
    display: flex;
    flex-direction: column;
    margin: 10em auto;
    align-items: center; 
}

.menu-buttons button {
    width: 232px;
    height: 70px;
}

.menu-buttons button:first-child {
    margin: 1em;
}

button {
    width: 232px;
    height: 50px;
    font-size: medium;
    cursor: pointer;
}

button:first-child {
    background-color: var(--darkOrange);
    color: #FFF;
    border: none;
    border-radius: 10px;
    margin-right: 1em;
}

button:last-child {
    background-color: var(--background);
    color: var(--darkOrange);
    border: 1px solid var(--darkOrange);
    border-radius: 10px;
}

/* new-word */

#new-word {
    width: 85%;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    height: 250px;
    border: none;
    margin-bottom: 4em;
}

textarea::placeholder {
    font-size: 20px;
    color: var(--darkOrange);
}

.textarea-buttons {
    margin-left: 1em;
}

.warning {
    display: flex;
    margin-bottom: 1em;
}

.warning img {
    width: 2%;
}

.warning p {
    font-size: 12px;
    color: var(--gray);
    padding-left: 5px;
}

.new-word-buttons {
    text-align: center;
}

.hangman-game {
    display: flex;
    flex-direction: column;
}